body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

header h1 {
    background-color:#4F4F4F;
    text-align: center;
    padding: 20px;
    margin: 0;
    color: white;

}

.navigation {
    position: sticky;
    background-color: #7E7E7E;
    top: 0;
    z-index: 1;
}

.menu {
    margin: 0;
}

.menu li {
    display: inline-block;
    padding: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.menu li:hover{
    background-color: black;

}
.dropdown{
    position: absolute;
    background-color: #F5F5F5;
    max-width: 150PX;
    top: 42px;
    display: none;
    padding: 0;
}
.dropdown li{
    display: block;
}

.navigation li:nth-last-child(2):hover .dropdown,.navigation li:nth-last-child(3):hover .dropdown
{
    display:block;
}


.dropdown li a{
    color: #7FA6CA;
    font-size: 16PX;

}
.dropdown li:hover{
    background-color: gainsboro;

}
footer{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
}

.covid{
    overflow-x: auto;
   /* overflow-x: scroll;*/
   /* white-space: nowrap;*/
}


.care {
    display: inline-block;
    border: 2px solid rgb(176, 180, 177);
    border-radius: 10px;
   width: 275px;
   height: 290px;
   /* margin: 2px;*/
    position: relative;
    background-color: #F3F1FE;   
    
    
}
.covid h1{
    text-align: left;
    padding: 20px;
    margin: 20px;
}
.care h5{
    text-align: left;
    margin-bottom: 2px; 
    margin-top: 2px;
    margin-left:2px;
    
}



.care img{
    width: 250px;
    height: 175px;
}
article{
    text-align: center;
    font-size: x-large;

}

.care:hover{
    width: 290px;
    height:300px ;
   
}




p{
    text-align: left;
    padding: 0;
    font-size: 18px;
    margin-bottom: 0em; 
    margin-top: 0em;
    color: blue;
}

button{
    width: 250px;
    height: 25px;
    border: 2px solid lightblue;
    border-radius: 5px;


}
 button:hover{
     background-color: rgb(250, 234, 230);
     border:2px solid rgb(0, 255, 76);
 }


