body {
    margin: 10px;
    padding: 10px;

}

input {
    width: 150px;
    border: none;
    border-bottom: 1px solid rgb(10, 10, 10);
    vertical-align: baseline;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    background-color: white;
    opacity: 0.60;
    color: black
}

img {

    float: right;
    padding: 20px;
    position: sticky;
    top: 0%;
    width: 500px;
    height: 500px;
}
.checkbox input{
    width: 25px;
    vertical-align: top;

}

button {
    color: white;
    background-color: blueviolet;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    margin: 20px;
    text-align: center;
    

}